<section id="about" class="about py-5">
  <div class="container">
    <div class="row p-3">
      <div class="col-md-4">
        <img src="/build/images/profile.jpeg" width="600px" height="600px" class="img-fluid rounded-circle mb-4" alt="Michael Ballester Granero">
      </div>
      Prueba CacheBust
      <div class="col-md-8">
        <h2 class="text-body-emphasis mb-4">{{ 'about.h2'|trans }}</h2>

        <p class="mb-4">
          {{ 'about.p1'|trans }}
        </p>

        <p class="mb-4">
          {{ 'about.p2'|trans }}
        </p>

        <div class="row">
          <div class="col-md-6">
            <ul class="list-unstyled mb-4">
              <li><strong> {{ 'about.me.name'|trans }}: </strong>Michael</li>
              <li><strong> {{ 'about.me.age'|trans }}: </strong>29 {{ 'about.me.age.data'|trans }}</li>
              <li><strong> {{ 'about.me.email'|trans }}: </strong>mike@mikebgdev.com</li>
            </ul>
          </div>

          <div class="col-md-6">
            <ul class="list-unstyled mb-4">
              <li><strong> {{ 'about.me.location'|trans }}: </strong>Anna, Valencia</li>
              <li><strong> {{ 'about.me.nacionality'|trans }}: </strong>{{ 'about.me.nacionality.data'|trans }}</li>
              <li><strong> {{ 'about.me.studies'|trans }}: </strong>{{ 'about.me.studies.data'|trans }}</li>
            </ul>
          </div>
        </div>

        <p class="mb-4">
          {{ 'about.p3'|trans }}
        </p>

        <p class="mb-4">
          {{ 'about.p4'|trans }}
        </p>

        <a href="#contact" class="btn btn-primary btn-lg">{{ 'about.contact'|trans }}</a>
      </div>
    </div>
  </div>
</section>
