<section id="contact" class="contact">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">{{ 'contact.h2'|trans }}</h2>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          {{ form_start(form) }}

          {% if form_errors((form)) %}
            <div class="alert alert-error">
              {{ form_errors(form) }}
            </div>
          {% endif %}

          <div class="form-floating mb-3">
            {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-lg', 'id': 'name', 'placeholder': 'contact.form.name'|trans}}) }}
            {{ form_label(form.name, 'contact.form.name'|trans, {'label_attr': {'for': 'name'}}) }}
            {{ form_errors(form.name) }}
          </div>

          <div class="form-floating mb-3">
            {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg', 'id': 'email', 'placeholder': 'contact.form.email'|trans}}) }}
            {{ form_label(form.email, 'contact.form.email'|trans, {'label_attr': {'for': 'email'}}) }}
            {{ form_errors(form.email) }}
          </div>

          <div class="form-floating mb-3">
            {{ form_widget(form.subject, {'attr': {'class': 'form-control form-control-lg', 'id': 'subject', 'placeholder': 'contact.form.subject'|trans}}) }}
            {{ form_label(form.subject, 'contact.form.subject'|trans, {'label_attr': {'for': 'subject'}}) }}
            {{ form_errors(form.subject) }}
          </div>

          <div class="form-floating mb-3">
            {{ form_widget(form.message, {'attr': {'class': 'form-control form-control-lg', 'id': 'message', 'placeholder': 'contact.form.message'|trans, 'style': 'height: 150px;'}}) }}
            {{ form_label(form.message, 'contact.form.message'|trans, {'label_attr': {'for': 'message'}}) }}
            {{ form_errors(form.message) }}
          </div>

          <button type="submit" class="btn btn-primary btn-lg mb-3">{{ 'contact.form.send'|trans }}</button>

          {{ form_end(form) }}
        </div>

        <div class="col-lg-4 text-center">
          <h3 class="section-title mb-3">{{ 'contact.social'|trans }}</h3>
          <svg width="32" height="32" class="me-3">
            <a href="https://github.com/mikebgdev" class="social-icon" target="_blank" title="GitHub">
              <use xlink:href="#github"></use>
            </a>
          </svg>

          <svg width="32" height="32" class="me-3">
            <a href="https://www.linkedin.com/in/michaelballester/" class="social-icon" target="_blank"
               title="Linkedin">
              <use xlink:href="#linkedin"></use>
            </a>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="contactModalLabel">{{ "contact.modal.h5"|trans }}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="modalResult"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ "contact.modal.close"|trans }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
