<section id="education" class="bg-body-secondary">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">{{ 'education.title'|trans }}</h2>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'education.date_1'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h5>{{ 'education.course_1'|trans }}</h5>
                <span>{{ 'education.institution_1'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'education.date_2'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h5>{{ 'education.degree_2'|trans }}</h5>
                <span>{{ 'education.institution_2'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'education.date_3'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h5>{{ 'education.degree_3'|trans }}</h5>
                <span>{{ 'education.institution_3'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'education.date_4'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h5>{{ 'education.degree_4'|trans }}</h5>
                <span>{{ 'education.institution_4'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'education.date_5'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h5>{{ 'education.degree_5'|trans }}</h5>
                <span>{{ 'education.institution_5'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
