<section id="experience">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">{{ 'experience.title'|trans }}</h2>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card mb-4 bg-body-secondary h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'experience.date_1'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h5>{{ 'experience.job_title_1'|trans }}</h5>
                <p>
                  {{ 'experience.job_description_1'|trans }}
                </p>
                <span>{{ 'experience.company_1'|trans }}, {{ 'experience.location_1'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <div class="card mb-4 bg-body-secondary h-100">
            <div class="card-body row">
              <div class="col-sm-4 col-xl-3">
                <h6>{{ 'experience.date_2'|trans }}</h6>
              </div>
              <div class="col-sm-8 col-xl-9 ps-xl-4">
                <h4>{{ 'experience.job_title_2'|trans }}</h4>
                <p>
                  {{ 'experience.job_description_2'|trans }}
                </p>
                <span>{{ 'experience.company_2'|trans }}, {{ 'experience.location_2'|trans }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
