<section id="skills" class="skills bg-body-secondary">
  <div class="container">
    <div class="p-mb-5 pe-3 ps-3 pb-5 pt-5">
      <h2 class="text-body-emphasis">{{ 'skills.h2'|trans }}</h2>

      <h3 class="fw-bold mb-0 fs-4">{{ "skills.web.h3"|trans }}</h3>
      <div class="row row-cols-auto g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#symfony"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#php"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#mysql"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#html"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#css"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#scss"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#javascript"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jquery"></use>
          </svg>
        </div>
      </div>

      <h3 class="fw-bold mb-0 fs-4">{{ "skills.server.h3"|trans }}</h3>
      <div class="row row-cols-auto g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#docker"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jenkins"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#drone"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#npm"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#nginx"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#apache"></use>
          </svg>
        </div>
      </div>

      <h3 class="fw-bold mb-0 fs-4">{{ "skills.service.h3"|trans }}</h3>
      <div class="row row-cols-auto g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#cloudflare"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#jira"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#postman"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#arch"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#git"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#notion"></use>
          </svg>
        </div>
      </div>

      <h3 class="fw-bold mb-0 fs-4">{{ "skills.learn.h3"|trans }}</h3>
      <div class="row row-cols-auto g-4 py-5">
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#python"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#fastapi"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#reflex"></use>
          </svg>
        </div>
        <div class="col d-flex align-items-start">
          <svg width="64" height="64">
            <use xlink:href="#mongodb"></use>
          </svg>
        </div>
      </div>

    </div>
  </div>
</section>
